@model DDACAssignment.Models.Image

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Image</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.image_name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.image_name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.room_image)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.room_image)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
