@{
    ViewData["Title"] = "About Us";
}
<h2>@ViewData["Title"]</h2>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <header class="w3-display-container w3-content w3-animate-opacity" style="max-width:1500px;">
        <img src="https://assignmetblobstorage.blob.core.windows.net:443/test-blob-container/The%20Hotel-image.jpg" alt="The Hotel" style="width:1200px" height="400">
    </header>
    <body>
        <div class="w3-row w3-large">
            <div class="w3-third w3-hover-red">
                <h3 class="w3-center"> <strong> About Us </strong> </h3>
                <ul style="list-style-type:none;">
                    <li>Ever heard of a Business Budget Hotel? Or A Family Friendly Budget Hotel?</li>
                    <li>Welcome to PAPAPACenter.com.my, the new brand in town that's out to revolutionize the whole hotel industry.</li>
                </ul>
            </div>
            <div class="w3-third w3-hover-red">
                <h3 class="w3-center"><strong>Our Concept</strong></h3>
                <p class="w3-center">Our concept is to keep things simple and clean.</p>
                <ul>
                    <li>A Clean and Spacious room and bath area</li>
                    <li>A Hotel quality mattress</li>
                    <li>A Super-fast Free Wireless Internet connection (20mbps Unifi)</li>
                    <li>A Working desks and basic amenities</li>
                    <li>A good quality Hot Shower area</li>
                    <li>A Daily cleaning service for all linen and rooms</li>

                </ul>
            </div>
            <div class="w3-third w3-hover-red">
                <h3 class="w3-center"><strong>What You Need</strong></h3>
                <ul style="list-style-type:none;">
                    <li>Just what you need while travelling and without the cost!</li>
                    <li>Too Good To Be True, check out our pictures at the website. Or better still come over and see it for yourself.</li>
                </ul>
            </div>
        </div>
    </body>
</asp:Content>
