@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<asp:content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <header class="w3-display-container w3-content w3-animate-opacity" style="max-width:1500px;">
        <img src="https://assignmetblobstorage.blob.core.windows.net:443/test-blob-container/Contact%20Us-image.jpg" alt="The Hotel" style="width:1200px">
    </header>
    <div class="w3-container" id="contact" style="height:250px;">
        <div class="w3-padding-24"></div>
        <div class="w3-center">
            <h2><strong>Sri Petaling Outlet</strong></h2>
            <i class="fa fa-map-marker w3-text-red" style="width:30px"></i> 21-1, Jalan Radin Bagus 6, Sri Petaling, 57000, Kuala Lumpur<br>
            <i class="fa fa-phone w3-text-red" style="width:30px"></i> Phone: +603 9054 9091<br>
            <i class="fa fa-envelope w3-text-red" style="width:30px"> </i> Email: mail@mail.com<br>
        </div>

    </div>
</asp:content>
